#app-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: stretch; /* Ensures each column stretches to fill the available width */
}

#controls-container{
  display: flex;
  flex: 2;
  flex-direction: row;
  align-items: stretch; /* Ensures each column stretches to fill the available width */
  z-index: 1;
}

#stacked-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex:8;
  flex-grow: 1; /* This makes the stacked-container take up the available vertical space */
  padding-left:1rem;
}

#toggle-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex:2;
  flex-grow: 1; /* This makes the stacked-container take up the available vertical space */
  padding-left:1rem;
  padding-right:1rem;
}

#color-changing-container{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex:1;
  flex-grow: 1; /* This makes the stacked-container take up the available vertical space */
}


#canvas-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex:8;
}
